{%extends 'core/base.html'%}
{% block title%}about-me{% endblock %}

{% block background %} {% load static %}{% static 'core/img/about-bg.jpg'%} {% endblock %}

{% block headers %}
<h1>Acerca de </h1>
<span class="subheading">Biografia</span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1"> 
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Juan Perez</h2>
        <p>Nacido en... Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed obcaecati sit aut incidunt, placeat autem iusto totam eveniet. Necessitatibus amet obcaecati vitae, consequuntur praesentium quae illum hic? Dignissimos, assumenda nam. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias perferendis et quas voluptas voluptate eligendi ea magnam animi rerum, modi sapiente numquam provident quis velit iure quidem aperiam cumque.</p>
    </div>
</div>
{%endblock%}