{%extends 'core/base.html'%}

{% block title%}contacto{% endblock %}

{% block background %} {% load static %}{% static 'core/img/contact-bg.jpg'%} {% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Lorem patooooo ipsum dolor sit amet consectetur adipisicing elit. Repellat fugit officiis consequatur repudiandae alias, totam esse temporibus vitae aspernatur excepturi, nesciunt libero minima quis suscipit magni sint, reprehenderit ea. Architecto!</p>
        <br>
        <p><b>Telefono:</b>+09876543210</p>
        <p><b>Honorarios:</b>60 euros por hora(precio base)</p>
    </div>
</div>

{%endblock%}